.footer {
	border-top: 1em solid lighten($color-grey, 30%);
	a { 
		color: $color-white;
		&:before { color: lighten($color-grey, 30%); }
	}
}

.footer-logo {
	display: block;
	margin: 0 auto;
	width: 100px;
}

.footer-social {
	list-style: none;
	margin: 2em 0 0 0;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		margin: .5em 0 .5em 1.5em;
		&:first-child { margin-left: 0; }
	}
}