.header {
	margin: 0;
	font-size: 2.25em;
	img {
		width: .9em;
		display: inline-block;
		margin-right: .25em;
	}
}
.slogan {
	margin: 1em;
	line-height: 1.3;
	color: #c8e0f0;
}
.by-deg {
	img {
		width: 56px; 
		margin: 0 .5em;
		display: inline-block; 
		vertical-align: middle; 
	}
}

@media screen and (min-width: $mq-small) {

	.header { 
		font-size: 5.25em;
	}
	.slogan {
		font-size: 1.5em;
		margin: .5em 0;
	}
	.by-deg {
		margin: 1em 0 2em;
	}
}

@media screen and (min-width: $mq-large) {
	.header {
		img { 
			display: block;
			margin: 0 auto .25em;
			width: 100px;
		}
	}
}