.interior-header {
	background: $color-blue;
	color: $color-white;
	@include clearfix;
	
	a { color: $color-white; }

	.content {
		padding: 1em 1.5em;
	}

	.logo {
		font-size: 1.75em;
		float: left;
		img {
			width: .9em;
			display: inline-block;
			margin: 0 .25em 0 0;
		}
	}
}

.nav-toggle {
	float: right;
	font-size: 1.5em;
	margin-right: -.2em;
	&:before { 
		margin: 0;
		color: $color-light-blue;
	}
}

.interior-subheader { 
	p { 
		color: $color-light-grey; 
	}
}

@media screen and (min-width: $mq-small) {

	.interior-header,
	.interior-subheader {
		.content {
			padding: 1.5em $spacing-horizontal-large;
		}
	}

	.nav-toggle { display: none; }

}