<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <% if is_building == false %>
    <meta name="viewport" content="width=device-width">
    <% end %>
    <title><%= data.page.title || "Email Template" %></title>

    <style>
        <% css_path = sitemap.resources.select { |p| p.source_file.match(/reset[.]css/) }.first %>
        <%= css_path.render %>
    </style>
    <style>
        <% css_path = sitemap.resources.select { |p| p.source_file.match(/all[.]css[.]scss$/) }.first %>
        <%= css_path.render %>
    </style>
</head>

<body style="background: #fff;font-family:Arial, Helvetica, sans-serif; font-size:1em;">
    <table id="backgroundTable" width="100%" cellspacing="0" cellpadding="0" border="0" style="background:#fff;">
        <tr>
            <td class="body" align="center" valign="top" style="background:#fff;" width="100%">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="main" width="600" align="center">
                            <%= yield %>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Exact Target tracking code -->
    <custom name="opencounter" type="tracking">
</body>
</html>
