<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <% if is_building == false %>
    <meta name="viewport" content="width=device-width">
    <% end %>
    <title><%= data.page.title || "Email Template" %></title>

    <%= inline_stylesheet 'template/all' %>
    <%= stylesheet_link_tag 'template/partials/_base' %>
</head>

<body>
    <table id="backgroundTable" width="100%">
        <tr>
            <td class="body" align="center" valign="top" width="100%">
                <table>
                    <tr>
                        <td class="main" width="600" align="center">
                            <%= yield %>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Exact Target tracking code -->
    <custom name="opencounter" type="tracking">
</body>
</html>
