---
title: Sample Content Area
---
<table>
	<tr>
		<td width="600" align="center">
			<img src="<%= page_data "sampleContentArea", "image" %>" alt="" />
		</td>
	</tr>
	<tr>
		<td width="600" align="center">
			<a href="<%= page_link "sampleContentArea", "url" %>"><%= page_data "sampleContentArea", "header" %></a>
		</td>
	</tr>
</table>