@import "normalize";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/css3/inline-block";

@import "Partials/utilities";
@import "Partials/branding";

body {
    font-size: 1em;
    font-family: arial,sans-serif;
    color: $color-body-text;
}

a {
	color: $color-link;
	font-weight: bold;
	&:visited {
		color: darken($color-link, 10%);
	}
}

.wrap {
	max-width: 52.25em;
	margin: 0 auto;
	padding: 0 2em;
}

.header {
	background: $color-header;
	padding: 1em 0;
	margin-bottom: 2em;
	.wrap { 
		max-width: 54em; 
		padding: 0 1em;
	}
	h1 { 
		font-size: 1.2em;
		margin: .5em 0 0 0;
		color: $color-header-text; 
	}
	@media only screen and (min-width: 40em) {
		margin-bottom: 3em;
		img, h1 {
			display: inline-block;
			vertical-align: middle;
		}
		h1 {
			margin: 0 0 0 1em; 
		}
	}
}

h1 { 
	font-size: 1.5em;
	color: #222; 
	margin-top: 0;
	@media only screen and (min-width: 40em) {
		font-size: 1.75em;
	}
}

.date {
	margin: 0 0 .25em 0;
	font-size: .9em;
	font-weight: bold;
}

ul {
	@include unset-list;
	ul {
		li { margin: 1em 0; }
	}
}

.timeline {
  border-left: 5px solid $color-node;
  padding-bottom: 2em;
  margin-bottom: 2em;
  position: relative; 
  &:before {
  	content: "";
  	position: absolute;
  	bottom: 0;
  	left: -1.65em;
  	width: 40px;
  	height: 40px;
  	border-radius: 40px;
  	background: $color-node;
  	border: 5px solid $color-node; 
  }
}

.node {
  padding: .4em 0 3em 2em;
  position: relative; 
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.065em;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fff;
    border: 5px solid $color-node; }
}