---
title: Email Template
layout: template
---

<table cellpadding="0" cellspacing="0">
    <tr>
        <td width="600" align="center">
            <%= content_area "sampleContentArea" %>
        </td>
    </tr>
</table>