.features {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.feature {
	width: 50%;
	margin: 1em 0;
	display: inline-block;
	vertical-align: top;
	&:nth-last-of-type(-n+2) {
		margin-bottom: 0;
	}
	a {
		color: $color-green;
		line-height: 1;
		display: block;
		@include transition(color .5s);
		&:hover {
			color: darken($color-green, 10%);
			.feature-icon { background: rgba(153, 153, 153, .2); }
		}
	}
}

.feature-icon {
	width: 4em;
	height: 4em;
	margin: 0 auto .75em;
	padding: 1em;
	border-radius: 50%;
	background: rgba(153, 153, 153, .1);
	@include transition(background .5s);
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

@media screen and (min-width: $mq-small) {
	.feature {
		width: 25%;
		&:nth-last-of-type(-n+4) {
			margin-bottom: 0;
		}
	}
}