.interior-header,
.interior-content {
	.content {
		@include clearfix;
		max-width: 60em;
	}
}

@media screen and (min-width: $mq-small) {
	.interior-aside {
		width: 20%;
		margin-right: 5%;
		float: left;
	}

	.interior-articles {
		width: 75%;
		float: right;
	}
}