.content {
	margin: 0 auto;
	padding: $spacing-vertical $spacing-horizontal;
	max-width: 50em;
}

@media screen and (min-width: $mq-small) {

	.content {
		padding: $spacing-vertical-large $spacing-horizontal-large;
	}

}